{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pg metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block metadata %}{% endblock %}

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- jquery autocomplete -->
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <!-- custom jquery -->
    <script src="{% static 'website/javascript/genform.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/nestable2@1.6.0/jquery.nestable.min.js"></script>
    <script href="https://cdn.jsdelivr.net/npm/nestable2@1.6.0/jquery.nestable.min.css" rel="stylesheet"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


            <!-- UIkit -->
            <script src="{% static 'website/UIKIT/js/uikit.min.js' %}"></script>
            <link href="{% static 'website/UIKIT/css/uikit.min.css' %}" rel="stylesheet">
            <script src="{% static 'website/UIKIT/js/components/nestable.js' %}"></script>
            <link href="{% static 'website/UIKIT/css/components/nestable.min.css' %}" rel="stylesheet">

    <!-- additional css -->
    <link href="{% static 'website/css/metasat.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/51390990b4.js" crossorigin="anonymous"></script>
    {% block customcss %}{% endblock %}
    {% block customjs %}{% endblock %}

    <!-- pg title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- favicon -->
   <link rel="icon" type="image/png" href="{% static 'website/img/flavicon.png' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img class="img-fluid" style="height:58px" src="{% static 'website/img/MetaSat_Big.png' %}" alt="MetaSat logo"></img>
            <a class="navbar-brand" href="/"><span class="h1">&nbsp;&nbsp;MetaSat Generator</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link sr-only sr-only-focusable" href="#content">Skip to main content</a>
                    </li>
                    <li class="nav-item"><h4>
                        <a class="nav-link" href="/documentation">Documentation</a></h4>
                    </li>
                    <li class="nav-item"><h4>
                        <a class="nav-link" href="https://schema.space/contact">Contact</a></h4>
                    </li>
                    <li class="nav-item"><h4>
                        <a class="nav-link" href="https://schema.space/">Return to MetaSat</a></h4>
                    </li>
             </div>

        </div>
    </nav>
<!-- sidebar start -->

<nav class="mnb navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
<!--     <button type="button" class="btn btn-light navbar-toggle" data-toggle="collapse" data-target="#elBar" aria-expanded="false" aria-controls="navbar">
      <div style="padding: 0px 0;">
         <a href="#" id="msbo"><i class="ic fa fa-bars"></i></a>
      </div>
          </button>
 -->    </div>
  </div>
  </nav>
<!--msb: main sidebar-->
<div class="msb" id="msb">
		<nav class="navbar navbar-default" role="navigation" id="elBar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<div class="brand-wrapper">
					<!-- Brand -->
					<div class="brand-name-wrapper" style="text-align:center; color:gray;">
            <h2>
							Concept Picker
            </h2>
					</div>

				</div>

			</div>
      <form class="form-inline" style="width:100%">
        {% csrf_token %}
      <input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search concepts" aria-label="Search">
      <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
      </form>
      <hr>
			<!-- Main Menu -->
        <accordion>
				<ul class="nav navbar-nav" id = "listPanel">
          <div id="replaceable-content">
        		{% include 'concepts-results-partial.html' %}
        	</div>
</ul>
      </accordion>
			</div>
  </div>
<!--main content wrapper-->
<div class="mcw">
  <!--navigation here-->
  <!--main content view-->
    {% block body %}
    {% endblock %}

      </div>
<script>
  $( document ).ready(function() {
  $('#msbo').on('click', function(){
    $('body').toggleClass('msb-x');
  });

});
</script>
</body>
</html>
