{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block nav-home %}active{% endblock %}

{% block customcss %}<link href="{% static 'genform/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    MetaSat Generator
{% endblock %}

{% block body %}
<span id="topm"></span>
<div class="container-fluid">
    <div class="topspacing"></div>
    <div class="row">

      <!-- left side bar -->
       <div class="newsidebar col-xl-3 col-lg-4 col-md-4 col-12">

           <!-- non-mobile tabs -->
           <div class="d-none d-sm-none d-md-block">
               <ul class="nav nav-tabs" role="tablist">
                   <li class="nav-item" role="presentation">
                       <a class="nav-link alpha-tab2 {%if gtype == 'alpha'%} active{% endif %}" id="alpha-tab" href="/metasat" tabindex=0 role="tab" aria-controls="alpha" aria-selected="{%if gtype == 'alpha'%}true{% else %}false{% endif %}">Index</a>
                   </li>
                   <li class="nav-item" role="presentation">
                       <a class="nav-link family-tab2 {%if gtype == 'family'%} active{% endif %}" id="family-tab" href="/metasat?view=family" role="tab" aria-controls="family" aria-selected="{%if gtype == 'family'%}true{% else %}false{% endif %}">Families</a>
                   </li>
                   <li class="nav-item" role="presentation">
                       <a class="nav-link segment-tab2 {%if gtype == 'segment'%} active{% endif %}" id="segment-tab" href="/metasat?view=segment" role="tab" aria-controls="segment" aria-selected="{%if gtype == 'segment'%}true{% else %}false{% endif %}">Segments</a>
                   </li>
                   <li class="nav-item" role="presentation">
                       <a class="nav-link search-tab2 {%if gtype == 'search'%} active{% endif %}" id="search-tab" href="/metasat?view=search" role="tab" aria-controls="search" aria-selected="{%if gtype == 'search'%}true{% else %}false{% endif %}">Search</a>
                   </li>
               </ul>
           </div>
           <!-- end non-mobile tabs -->

           <!-- mobile pills -->
           <div class="d-sm-block d-md-none">

               <p class="h4">Browse MetaSat Concepts</p>
                   {% if element == "noelement" %}
                       The full list of MetaSat Concepts can be viewed alphabetically via the index view, or organized into two different types of groups: the concept families (conceptually related concepts) or the concept segments (concepts for a specific mission phase).
                   {% endif %}
               <hr/>
               <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                   <a class="nav-link alpha-tab {%if gtype == 'alpha'%} active{% endif %}" id="alpha-tab" data-toggle="pill" href="#alpha" role="tab" aria-controls="v-pills-alpha" aria-selected="false">By Index</a>
                   <a class="nav-link family-tab {%if gtype == 'family'%} active{% endif %}" id="family-tab" data-toggle="pill" href="#family" role="tab" aria-controls="v-pills-family" aria-selected="false">By Family</a>
                   <a class="nav-link segment-tab {%if gtype == 'segment'%} active{% endif %}" id="segment-tab" data-toggle="pill" href="#segment" role="tab" aria-controls="v-pills-segment" aria-selected="false">By Segment</a>
                   <a class="nav-link search-tab {%if gtype == 'search'%} active{% endif %}" id="search-tab" data-toggle="pill" href="#search" role="tab" aria-controls="v-pills-search" aria-selected="false">Search MetaSat</a>

               </div>
               <hr/>
           </div>
           <!-- end mobile pills-->

           <!-- content of tabs and pills -->
           <div class="tab-content">

               <!-- alpha -->
               <div class="tab-pane fade{%if gtype == 'alpha'%} show active{% endif %}" id="alpha" role="tabpanel" aria-labelledby="alpha-tab">

                   <div class="d-sm-block d-md-none">Browse by Index</div>

                   <ul class="alpha">
                       <br/>
                       {% for x in alphabet %}
                           <li tabindex=0 style="cursor:pointer;" class="text-primary letter">{{x}}</li>
                       {% endfor %}
                   </ul>

                   <br/><br/><br/><br/><br/><br/>

                   {% for x in alphabet %}
                       <span id="{{x}}" class="anchor"></span>
                       <span style="width:50%;float:left" id="letter{{x}}" tabindex=0>{{x|upper}}</span> <span class="text-right d-none d-sm-none d-md-block" style="width:50%;float:right"><img tabindex=0 class="totopimg" style="width:15px;cursor:pointer;" src="{% static 'website/img/totop1.png' %}"/>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                       <table class=table>
                               {% for el in all_elements %}
                                   {% if el|make_list|first|lower == x %}
                                   <tr>
                                       <td id="{{el.identifier}}"><a id="{{el.identifier}}link" href="/metasat/{{el.identifier}}">{{el}}</a></td>
                                   </tr>
                                   {% endif %}
                               {% endfor %}
                       </table>
                   {% endfor %}

               </div>

               <!-- familes -->
               <div class="tab-pane fade{%if gtype == 'family'%} show active{% endif %}" id="family" role="tabpanel" aria-labelledby="family-tab">
                   <div class="d-sm-block d-md-none">Browse By Family</div>
                   <br/>

                   <div class="accordion" id="accordionExample">

                       {% for key, values in famgroups.items %}
                           <div class="card">
                               <div class="card-header" id="{{key|cut:' '}}">
                                   <h2 class="mb-0">
                                       <button class="btn btn-link btn-block text-left{% if key|cut:' ' != groupname %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{key|cut:' '}}" aria-expanded="{% if key|cut:' ' != groupname %}false{%else%}true{% endif %}" aria-controls="collapse{{key|cut:' '}}">{{key}}</button>
                                   </h2>
                               </div>

                               <div id="collapse{{key|cut:' '}}" class="collapse{% if key|cut:' ' == groupname %} show{% endif %}" aria-labelledby="{{key}}" data-parent="#accordionExample">
                                   <div class="card-body">
                                       <table class=table>
                                           {% for v in values %}
                                               <tr>
                                                   <td id="{{v.identifier}}{{key|cut:' '}}"><a href="/metasat/{{v.identifier}}?family={{key|cut:' '}}">{{v.identifier}}</a></td>
                                               </tr>
                                           {% endfor %}
                                       </table>
                                   </div>
                               </div>
                         </div>
                        {% endfor %}

                   </div>
                   <br/><br/>
               </div>

               <!-- segments -->
               <div class="tab-pane fade{%if gtype == 'segment'%} show active{% endif %}" id="segment" role="tabpanel" aria-labelledby="segment-tab">
                   <div class="d-sm-block d-md-none">Browse by Segment</div>

                   <br/>
                   <div class="accordion" id="accordionExample">

                       {% for key, values in seggroups.items %}
                           <div class="card">
                               <div class="card-header" id="{{key|cut:' '}}">
                                   <h2 class="mb-0">
                                       <button class="btn btn-link btn-block text-left{% if key|cut:' ' != groupname %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{key|cut:' '}}" aria-expanded="{% if key|cut:' ' != groupname %}false{%else%}true{% endif %}" aria-controls="collapse{{key|cut:' '}}">{{key}}</button>
                                   </h2>
                               </div>

                               <div id="collapse{{key|cut:' '}}" class="collapse{% if key|cut:' ' == groupname %} show{% endif %}" aria-labelledby="{{key}}" data-parent="#accordionExample">
                                   <div class="card-body">
                                       <table class=table>
                                           {% for v in values %}
                                               <tr>
                                                   <td id="{{v.identifier}}{{key|cut:' '}}"><a href="/metasat/{{v.identifier}}?segment={{key|cut:' '}}">{{v.identifier}}</a></td>
                                               </tr>
                                           {% endfor %}
                                       </table>
                                   </div>
                               </div>
                         </div>
                        {% endfor %}

                   </div>
                   <br/><br/>

               </div>


               <!-- search -->
               <div class="tab-pane fade{%if gtype == 'search'%} show active{% endif %}" id="search" role="tabpanel" aria-labelledby="search-tab">
                   <div>
                       <br/>
                       <p>Search for MetaSat Concepts</p>

                       <form action="/metasat" class="form-inline" role="search">
                           <div class="form-group mx-sm-3 mb-2">
                               <input type="hidden" name="view" value="search">
                               <label for="search-input" class="sr-only">MetaSat terms</label>
                               <input type="text" class="form-control-sm" name="lookup" placeholder="MetaSat Concept">
                           </div>
                           <button type="submit" class="btn btn-outline-light btn-secondary mb-2" style="background-color: #4e687e">Find</button>
                       </form>
                       <br/><br/>


                   </div>

               </div>


               <!-- mobile up to top arrow -->
               <div style="position:fixed;bottom:50px;right:50px;z-index: 30;" class="d-sm-block d-md-none">
                   <span class="text-right" style="float:right"><img tabindex=0 class="totopimgm" style="width:40px;cursor:pointer;" src={% static 'website/img/totopm.png' %}></span>
               </div>

           </div>
           <!-- end content of tabs and pills -->
       </div>
       <!-- end sidebar -->
<div class="col-xl-9 col-lg-8 col-md-8 offset-xl-3 offset-lg-4 offset-md-4">
 <div class="mainstuff">
   <div id="content">
     <div class="form-group align-items-center">
      <h1> Generate JSON-LD using MetaSat </h1>
        <p> This tool generates JSON-LD files using MetaSat vocabulary. Simply fill out a form and press the "Generate!" button to produce a custom JSON-LD file for your mission.</p>
      <h2> Upload Your Own JSON-LD file</h2>
        <p> Our tool will auto-generate a form from a valid JSON-LD file.</p>
<!-- insert File upload field -->
<!-- template buttons -->
        <!-- <form method="post" id="externalFile">
          <fieldset>
          {% csrf_token %}
          <div class="external-file">
            <input type="file" class="custom-file-input">
            <label class="custom-file-label" for="externalFile">Upload Template</label>
          </div>
      <div class = col-md-6>
        <div class="buttonHolder">
          <input type="submit" name="externaltemplate" value="Upload" class="btn btn-primary button white ibutton" id="exuploadsubmit">
        </div>
        </fieldset>
        </form> -->
        <div class= "row">
          <div class = col-md-6>
            <form enctype="multipart/form-data">
              {% csrf_token %}
              {% crispy form form.helper %}
          </div>
            <div class = col-md-6>
              <div class="buttonHolder">
                <input type="submit" name="externaltemplate" value="Upload" class="btn btn-primary button white ibutton" id="exuploadsubmit">
              </div>
          </div>
          </form>
        </div>

    <br>
    <h2> Start with a Template</h2>
    <p> Pick one of our suggested structures to describe your mission.</p>

    <div class= "row">
      <div class = col-md-2>
        <div class="buttonHolder">
          <input type="submit" name="context" value="Context" class="btn btn-primary button white ibutton" id="icontext">
        </div>
      </div>
      <div class = col-md-2>
        <div class="buttonHolder">
          <input type="submit" name="example" value="Example" class="btn btn-primary button white ibutton" id="iexample">
        </div>
      </div>
      </div>

  <!-- generated fields begin here -->

    <div class="form-group align-items-center">
      <form action="generate" method="post">
        {% csrf_token %}
        <fieldset>
          <div class = "test" style="display:none" id=accordion></div>
          <br>
          <div class="buttonHolder">
            <input type="submit" name="generate" value="Generate" class="btn btn-success button white gbutton" id="gbutton" style="display:none" >
          </div>
        </fieldset>
      </form>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>

$( document ).ready(function() {

function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }

 $(".ibutton").click(function(event){
    event.preventDefault();
    console.log("I clicked the i button");
    var importId = $(this).attr("id");
    console.log(importId)

    var $upload = $('.ibutton[exuploadsubmit]');
    if (importId == "exuploadsubmit") {
        var data = new FormData($('form').get(0));

        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }

        });

        $.ajax(
        {
            url: "/importTemplate",
            type:"POST",
            data: data,
            cache: false,
            contentType: false,
            processData: false,

            // write programmatically on python side to capture structure
            // assign variables to nested
            success: function(result)
            {
              // function printArray(arr) {
              //   for (var i = 0; i < arr.length; i++)
              //     if (Array.isArray(arr[i])) {
              //         console.log("I'm here")
              //         printArray(arr[i])
              //   } else {
              //         console.log(arr[i]);
              //   }
              // }

              console.log(result)
              for (i in result) {
                var fieldID = String(i)
                var key = result[i]["key"]
                var value = result[i]["value"]

                if (result[i]["value"] == undefined) {
                  var elementField =
                    '<div class = col-lg-12>'+
                    '<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">'+
                    '<div class="card-body">'+
                    '<div id="'+fieldID+'_'+key+'" class="form-group row">'+
                    '<label for="'+fieldID+'_'+key+'" class="col-form-label col-lg-6">'+
                    key+
                    '</label>'
                  var elementInput =
                      '<input type="text" name="'+fieldID+'_'+key+'" class="textinput textInput form-contro l" id="'+fieldID+'_'+key+'" placeholder="">'+
                      '</div>'+
                      '</div>'
                } else {
                    var elementField =
                      '<div class = col-lg-12>'+
                      '<div id="'+fieldID+'_'+key+'" class="form-group row">'+
                      '<label for="'+fieldID+'_'+key+'" class="col-form-label col-lg-6">'+
                      key+
                      '</label>'
                    var elementInput =
                    // '<div class="col-lg-8">'+
                      '<input type="text" name="'+fieldID+'_'+key+'" class="textinput textInput form-contro l" id="'+fieldID+'_'+key+'" placeholder="'+value+'">'+
                      '</div>'+
                      '</div>'
                  }
                $(".test").append(elementField);
                $(".test").append(elementInput);
            }
            $(".test").toggle()
            $(".gbutton").toggle()
          },



              error: function (xhr, ajaxOptions, thrownError) {
                console.log("ERROR")
              alert(xhr.status);
              alert(thrownError);
         },

        });
    } else {
      console.log("bad logic");

    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }

    });

    $.ajax(
    {
        url: "/importTemplate",
        type:"POST",
        data: {
          "templateId": importId,
        },

        // write programmatically on python side to capture structure
        // assign variables to nested
        success: function(result)
        {
          function printArray(arr) {
            for (var i = 0; i < arr.length; i++)
              if (Array.isArray(arr[i])) {
                  console.log("I'm here")
                  printArray(arr[i])
            } else {
                  console.log(arr[i]);
            }
          }

          console.log(result)
          for (i in result) {
            var fieldID = String(i)
            var key = result[i]["key"]
            var value = result[i]["value"]

            if (result[i]["value"] == undefined) {
              var elementField =
                '<div class = col-lg-12>'+
                '<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">'+
                '<div class="card-body">'+
                '<div id="'+fieldID+'_'+key+'" class="form-group row">'+
                '<label for="'+fieldID+'_'+key+'" class="col-form-label col-lg-6 ">'+
                key+
                '</label>'
              var elementInput =
                  '<input type="text" name="'+fieldID+'_'+key+'" class="textinput textInput form-control" id="'+fieldID+'_'+key+'" placeholder="">'+
                  '</div>'+
                  '</div>'
            } else {
                var elementField =
                  '<div class = col-lg-12>'+
                  '<div id="'+fieldID+'_'+key+'" class="form-group row">'+
                  '<label for="'+fieldID+'_'+key+'" class="col-form-label col-lg-6">'+
                  key+
                  '</label>'
                var elementInput =
                // '<div class="col-lg-8">'+
                  '<input type="text" name="'+fieldID+'_'+key+'" class="textinput textInput form-contro l" id="'+fieldID+'_'+key+'" placeholder="'+value+'">'+
                  '</div>'+
                  '</div>'
              }
            $(".test").append(elementField);
            $(".test").append(elementInput);
        }
        $(".test").toggle()
        $(".gbutton").toggle()
      },



        error: function (xhr, ajaxOptions, thrownError) {
          console.log("ERROR")
        alert(xhr.status);
        alert(thrownError);
     },

    });
}


});
});



</script>

{% endblock %}
