{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block nav-home %}active{% endblock %}

{% block customcss %}<link href="{% static 'genform/css/metasat.css' %}" rel="stylesheet">{% endblock %}

{% block title %}
    MetaSat Generator
{% endblock %}

{% block body %}
<div class = "container">
  <div class="form-group align-items-center">
  <div class="topspacing"></div>
  <div style="margin-top: 80px;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 8;"></div>
      <h1> Generate JSON-LD using MetaSat </h1>
      <p> This tool generates JSON-LD files using MetaSat vocabulary. Simply fill out a form and press the "Generate!" button to produce a custom JSON-LD file for your mission.</p>
        <h2> Upload Your Own JSON-LD file</h2>
        <p> Our tool will auto-generate a form from a valid JSON-LD file.</p>
<!-- insert File upload field -->
<!-- template buttons -->
    <div class= "row">
      <div class = col-md-6>
        <form enctype="multipart/form-data">
          {% csrf_token %}
          {% crispy form form.helper %}
          </div>
            <div class = col-md-6>
          <div class="buttonHolder">
            <input type="submit" name="externaltemplate" value="Upload" class="btn btn-primary button white ibutton" id="exuploadsubmit" accept = ".json, .jsonld">
          </div>
        </form>
          </div>
      </div>
    </div>
<!-- old template stuff -->
    <!-- <br>
    <h2> Start with a Template</h2>
    <p> Pick one of our suggested structures to describe your mission.</p>
    <div class = col-lg-12>
    <div class = "row">
    <div class = "templateList">
    </div>
    </div>
    </div> -->
    <h2>Element Picker</h2>
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Browse Elements
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Element Picker</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <!-- start modal body -->
        <h4> Start with a Template</h4>
        <p> Pick one of our suggested structures to describe your mission.</p>
        <div class = "input-group mb-3 templateList">
          <!-- element inputs get added into here -->
        </div>
  <div class="btn-group" role="group">
    <button id="families" type="button" class="btn btn-secondary dropdown-toggle goLook" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Families
    </button>
    <ul class="dropdown-menu" id = "dropfamilies" aria-labelledby="btnGroupDrop1">
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button id="segments" type="button" class="btn btn-secondary dropdown-toggle goLook" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Segments
    </button>
    <ul class="dropdown-menu" id = "dropsegments" aria-labelledby="btnGroupDrop1">
    </ul>
  </div>
  <br>
  <br>
  <div class="input-group mb-3">
  <div class = col-lg-8>
  <input type="text" class="form-control" placeholder="Element Term" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>
  <div class = col-lg-4>
  <div class="input-group-append">
    <button class="btn btn-danger" type="button" id="button-addon1">X</button>
  </div>
  </div>
<br>
<div class = col-lg-8>
<input type="text" class="form-control" placeholder="Element Term" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>
<div class = col-lg-4>
<div class="input-group-append">
  <button class="btn btn-danger" type="button" id="button-addon1">X</button>
</div>
</div>
<br>
<div class = col-lg-8>
<input type="text" class="form-control" placeholder="Element Term" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>
<div class = col-lg-4>
<div class="input-group-append">
  <button class="btn btn-danger" type="button" id="button-addon1">X</button>
</div>
</div>
<br>
<!-- new modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- end new modal -->

</div>
        <!-- end modal body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


<script>
  $( document ).ready(function() {

  function getCookie(c_name)
  {
      if (document.cookie.length > 0)
      {
          c_start = document.cookie.indexOf(c_name + "=");
          if (c_start != -1)
          {
              c_start = c_start + c_name.length + 1;
              c_end = document.cookie.indexOf(";", c_start);
              if (c_end == -1) c_end = document.cookie.length;
              return unescape(document.cookie.substring(c_start,c_end));
          }
      }
      return "";
   };

   function getButtons()
   {
    var data = JSON.parse("{{templateData|escapejs}}");
    var buttonList = data["contentList"];
    for (var x in buttonList){
      var item = buttonList[x]
      var result = $(writeButtons(item, data))
        // console.log("this is result")
        // console.log(result)
      $(".templateList").append(result);
    }
  }

   function writeButtons(x, data){
     // try {
     //    var buttonList = data["contentList"];
     //    x = x["contentList"]
     // }
     // catch(err) {
     //   var buttonList = data
     //   x = x
     // }
     var yay = x["contentList"]
     if (typeof yay  === "undefined") {
       var x = x
     } else {
       console.log("let's see...")
       var x = yay
     }
     console.log(x)
     var outer = data["outer"]
     var tag = data["tag"]
     var inner = data["inner"]
     var end = data["end"]
     // var ranNum = Math.round((Math.random()* 10))
     var ranNum = ''
     // var classAdd = " "+x+""
     var buttonID = '" id="'+x+ranNum+'"'
     var tagID = " id=holder"+x+">"
     var value = " value='"+x+"'"
     var buttonClass = ' class = "btn btn-primary button white btn-lg'+' '+'goLook'+buttonID+'>'+x+''
     // var buttonOuter = ' '+x+'">'
     // var add = outer+tag+tagID+inner+buttonClass+buttonID+value+end
    var add = outer+tag+tagID+inner+buttonClass+end
    console.log(add)

     return add
    }

   $(getButtons())

    // var dataNode = document.getElementById('alldata');
    // dataNode.innerHTML+="{{data|escapejs}}";
    // for(var x in data){
    //     dataNode.innerHTML+=x+' : '+data[x]+'<br><br>';
    // }
    $(".goLook").click(function(event){
      event.preventDefault();
      console.log("I clicked!")
      var content_id = $(this).attr("id")

      $.ajaxSetup({
          headers: { "X-CSRFToken": getCookie("csrftoken") }

      });

      $.ajax(
      {
          url: "/getButton",
          type:"POST",
          data: {
            contentID: content_id
          },
          success: function(result)
          {
            console.log(result)
              for (var x in result){
                var type = result[x]["type"]
                link = '<li><a class="dropdown-item" href="lookUp" id="'+x+'">'+x+'</a></li>'
                front = "#drop"
                bad = 'href="'+x+'Select"'
                add = front + type
                $(add).append(link)
              }

            // var data = result
            // // var buttonList = data["contentList"];
            // for (var x in data){
            //   var item = data[x]
            //   var result = $(writeButtons(x, item))
            //     // console.log("this is result")
            //     // console.log(result)
            //   $(".templateList").append(result);
          },



            error: function (xhr, ajaxOptions, thrownError) {
              console.log("ERROR")
              console.log(thrownError)
            alert(xhr.status);
            alert(thrownError);
       },
     });

     // $(".dropdown-item").click({
     //   var content_id = $(this).attr("id")
     //   var yar = lookUp(content_id)
     // });

      function lookUp(e){
        $(".modal-body").append("<p>"+e+"</p>")
        console.log("CONTENT ID")
        console.log(e)
        // $.ajaxSetup({
        //     headers: { "X-CSRFToken": getCookie("csrftoken") }
        //
        // });

    //     $.ajax(
    //     {
    //         url: "/lookUp",
    //         type:"POST",
    //         data: {
    //           contentID: content_id
    //         },
    //         success: function(result)
    //         {
    //           $(".modal-body").append("<p>hello</p>")
    //           console.log(result)
    // },
    //           error: function (xhr, ajaxOptions, thrownError) {
    //             console.log("ERROR")
    //             console.log(thrownError)
    //           alert(xhr.status);
    //           alert(thrownError);
    //      },
    //
    //   });
    };

 });
 //
 // $(".a[href$='lookUp']").click(function(event){
 //   event.preventDefault();
 //   var buttonID = this.attr(id)
 //   console.log("I cliked drop down")
 //   console.log(id)
 // });
});

</script>

    {% endblock %}
