{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block nav-home %}active{% endblock %}

{% block title %}
    MetaSat Generator
{% endblock %}

{% block body %}
<div class = "container">
  <div class="form-group align-items-center">
  <div class="topspacing"></div>
  <!-- <div style="margin-top: 80px;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 8;"></div> -->
      <h1> Generate JSON-LD using MetaSat </h1>
      <p> This tool generates JSON-LD files using MetaSat vocabulary. Simply fill out a form and press the "Generate!" button to produce a custom JSON-LD file for your mission.</p>
        <h2> Upload Your Own JSON-LD file</h2>
        <p> Our tool will auto-generate a form from a valid JSON-LD file.</p>
<!-- insert File upload field -->
<!-- template buttons -->
    <div class= "row">
      <div class = col-md-6>
        <form enctype="multipart/form-data">
          {% csrf_token %}
          {% crispy form form.helper %}
          </div>
            <div class = col-md-6>
          <div class="buttonHolder">
            <input type="submit" name="externaltemplate" value="Upload" class="btn btn-primary button white ibutton" id="exuploadsubmit" accept = ".json, .jsonld">
          </div>
        </form>
          </div>
      </div>
      <hr>
      <div class = "container">
        <button class = "btn btn-danger emptyNest"><span>Clear Elements</span></button>

        <!-- testing uikit nestable -->

        <!-- <ul id="testnest" class="uk-nestable" data-uk-nestable="{maxDepth:100}, {handleClass:uk-nestable-handle}"> -->
        <form class = "uk-form">
          <div class ="uk-input"><input type="text"></div>
          <ul id="testnest" class="uk-nestable" data-uk-nestable="{maxDepth:100}, {handleClass:uk-nestable-handle},{handleClass:'uk-input}">
                              <li class="uk-nestable-item">
                                  <div class="uk-nestable-panel">
                                      <div class="uk-nestable-toggle" data-nestable-action="toggle"></div>
                                      <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                                      Item 1
                                      <div class ="uk-input">
                                      <input type="text" class = "uk-input">
                                    </div>
                                    </div>
                              </li>
                              <li class="uk-nestable-item">
                                  <div class="uk-nestable-panel">
                                      <div class="uk-nestable-toggle" data-nestable-action="toggle"></div>
                                      <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                                      Item 2
                                      <div class ="uk-input">
                                      <input type="text">
                                    </div>
                                  </div>
                              </li>
                              <li class="uk-nestable-item">
                                  <div class="uk-nestable-panel">
                                      <div class="uk-nestable-toggle" data-nestable-action="toggle"></div>
                                      <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                                      Item 3
                                      <div class ="uk-input">
                                      <input type="text">
                                    </div>
                                  </div>
                              </li>
                          </ul>
                          </form>

<!-- end test -->
      <form>
      <div class="list-group" style = "width: 100%">
      <div class="dd">
          <ol class="dd-list" id = "workSpace">
          </ol>
      </div>
      </div>
      </form>
      </div>
<hr>
</div>
</div>
<script>
//     var options = {
//             'maxDepth': 100,
//             'expandBtnHTML': '<button class="dd-action" data-action="expand" type="button"><i class="icon-chevron-right"></i></button>',
//             'collapseBtnHTML': '<button class="dd-action" data-action="collapse" type="button"><i class="icon-chevron-down"></i></button>'
// }
//       $("#elSort").nestable(options);
//       $(".emptyNest").click(function(){
//         console.log("clicked a nest")
//         $('#elSort').nestable('removeAll', function(){
//            console.log('All items deleted');
//        });
//       });
//
//       $(".getJSON").click(function(){
//         console.log("clicked a json")
//         var jResult = $('#elSort').nestable('toArray')
//         console.log(jResult)
//       });
//   })
</script>

<!-- <div class="dd" id="nestable-json"></div> -->

<!-- <script>
var json = '[{"id":1},{"id":2},{"id":3,"children":[{"id":4},{"id":5,"foo":"bar"}]}]';
var options = {'json': json}
$('#nestable-json').nestable(options);
</script> -->
{% endblock %}
