{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block nav-home %}active{% endblock %}

{% block title %}
    MetaSat Generator
{% endblock %}

{% block body %}
<div class = "container">
  <div class="form-group align-items-center">
  <div class="topspacing"></div>
      <h1> Generate JSON-LD using MetaSat </h1>
      <p> This tool generates JSON-LD files using MetaSat vocabulary. Simply fill out a form and press the "Generate!" button to produce a custom JSON-LD file for your mission.</p>
        <!-- <h2> Upload Your Own JSON-LD file</h2>
        <p> Our tool will auto-generate a form from a valid JSON-LD file.</p> -->
<!-- insert File upload field -->
    <!-- <div class= "row">
      <form enctype="multipart/form-data" method = "post" action = "" id = "fileUp">
        {% csrf_token %}
          <div class = col-md-6>
          <input type="file" name="file" value="Upload" class="btn btn-outline-secondary" id="fileIn" accept = ".json, .jsonld">
          <button type="submit" class = "btn btn-primary" style="display:inline;" id="ibutton">Upload</button>
      </form>
        </div> -->

      <!-- <div class="uk-form-file">
        <form id = "fileUp">
      <input type="file" class="btn btn-outline-secondary" id ="fileIn">
      </form>
      </div>
        {% csrf_token %}
      <button class="btn btn-primary ibutton" id="exUploadSubmit">Upload JSON-LD</button>
      </div> -->


      <hr>
      <div class = "container">
        <div class="buttonHolder">
        <button class = "btn btn-danger emptyNest" id="emptyNest">Clear Concepts</button>
        </div>
      <form id ="thisOne" name="hello"><ol class="uk-nestable" data-uk-nestable="{handleClass:'uk-nestable-handle'}" id="workSpace">
        <fieldset id= "testForm">
        </fieldset>
    </ol></form>
    <div class="buttonHolder">
      <input type="submit" name="generate" value="Generate" class="btn btn-success button white gbutton" id="genButton" >
    </div>
    <div id = "success"style = "display:none">
    <h3> Success! Click the button below to download your JSONLD file.</h3>
    <div class = row>
    <div class = col-sm-6>
    <form action="download_file" method="post">
      {% csrf_token %}
    <div class="buttonHolder">
      <input id = "filedl" type="hidden" name="data">
      <input type="submit" name="download" value="Download JSONLD" class="btn btn-primary dbutton" id="dbutton">
    </div>
    </form>
    </div>

    <div class = col-sm-6>
    <div class="buttonHolder">
      <input id = "reDo" type="hidden" name="data">
      <input type="button" name="reDo" value="Start Over" class="btn btn-info rbutton" id="rbutton">
    </div>
    </div>
    </div>
      </div>
      </div>
<hr>
</div>
</div>

{% endblock %}
